td, th {
    text-align: center;
  }
  
  table {
    border-collapse: collapse;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
  }

  thead {
	color: white;
	font-size: 0.875rem;
	text-transform: uppercase;
	letter-spacing: 2%;
}

